# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtualenv
venv/
ENV/
env/
.venv/
*.swp
*.swo

.vscode/
.idea/
*.iml

*.log
*.pot
*.pyc
*.mo
*.db
db.sqlite3
media/
staticfiles/

Pipfile.lock
poetry.lock

.env
*.env
.env.*

.DS_Store
Thumbs.db

.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/

NoGraph/settings.py